#app {
  animation: 12s bgCoolr infinite;
}
@keyframes bgCoolr {
  0% {
    background: rgba(255, 208, 208, 0.5);
  }
  50% {
    background: rgb(255, 203, 90);
  }
  100% {
    background: rgba(255, 208, 208, 0.5);
  }
}
.theCard{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
