@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    margin: 0;
    padding-top: 10px;
    background-color: #f2f2f2;
    // background-image: linear-gradient(to right, #833ab4, #fd1d1dd4, #fcb045);
    background-size: 600% 600%;
    // animation: animateBg 10s ease-in-out infinite;
}

@keyframes animateBg {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.theCard {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
